@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white;
}
